<footer tabindex="0" class="siteFooter" role="contentinfo">
	<p class="footerContent">Copyright &copy; <time datetime="2018">2018</time></p>
	<p class="footerContent">vej 2,</p>
	<p class="footerContent">1250 by</p>
</footer>