<a tabindex="0" id="jumpToContent" href="#maincontent">Spring til indhold</a> 
<header class="siteHeader" role="banner">
	<div class="headerText"><a class="topText" href="/">Text/Logo</a></div>
	<% include ./navigation.ejs %>
	<% include ./search-bar.ejs %>
</header>