<nav class="primaryNavigation" role="navigation">
	<ul id="mySidenav">
		<li><a href="/">Forside</a></li>
		<li><a href="/kontakt">Kontakt</a></li>
		<li><a href="/login">Login</a></li>
	</ul>
</nav>
