<% include partials/head.ejs %>
<% include partials/header.ejs %>
<main tabindex="0" role="main" class="loginMain">
	<section>
		<h1><%= title %></h1>
		<form action="/login" method="post">
			<div>
				<label for="loginForm__username">Brugernavn</label>
				<input type="email" name="username" id="loginForm__username">
			</div>
			<div>
				<label for="loginForm__passphrase">Adgangskode</label>
				<input type="password" name="passphrase" id="loginForm__passphrase">
			</div>
			<button type="submit">Log in</button>
		</form>
	</section>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>